<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Many-To_Many_XML_N_Annotation/src/com/m2m_xml/Main_Many2Many.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.m2m_xml.Main_Many2Many"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Many-To_Many_XML_N_Annotation"/>
</launchConfiguration>
